@charset "utf-8";
body  {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    color: yellowgreen;
    font-family: Arial;
}
body p {
    font-family: Arial;
}

.submit_button {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: yellowgreen;
    font-size: 12px;
    -webkit-box-shadow: 3px 3px 3px rgba( 0, 0, 0, 0.1);
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    box-shadow: 3px 3px 3px rgba( 0, 0, 0, 0.1);
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in 0.15s;
    -o-transition: all 0.2s ease-in 0.15s;
    transition: all 0.2s ease-in 0.15s;
}
body main {
    padding: 20px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    border: solid;
	border-width: 0.4px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

body main input {
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    -webkit-box-shadow: inset 3px 3px 3px rgba( 0, 0, 0, 0.2);
    box-shadow: inset 3px 3px 3px rgba( 0, 0, 0, 0.2);
}
.submit_button:hover {
    height: 35px;
    width: 150px;
    color: white;
}

@media (max-width:1280px){
}
